<html  lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title></title>
		
	</head>
	<body>
		
		
		<h1>Name of the owner is</h1>
		<h1 th:text="${name}" ></h1>
		<p >  <span th:text="${#strings.length(name)}"> </span></p>
		<h2 th:text="${currentDate}"> </h2>
		
		<div th:with="a=5,b=67,n=${name}">
			
			<h1>value of a is <span th:text="${a}"></span></h1>
		
		<h1  th:text="'sum of '+${a}+' and '+${b}+' is '+${a+b}"></h1>
		
		
		</div>
		<h1>so this is fun...</h1>
	</body>
	
	
</html>
 